update to RFC 4918

status-codes.md mentions RFC5218 several times. This is a typo for 2518.

RFC 2518 is obsoleted by RFC 4918.

if you're interested in a more up-to-date list of HTTP status codes, http://webconcepts.info/concepts.json might be interesting, which has JSON data for the list shown at http://webconcepts.info/concepts/http-status-code/